.Card {
  background: rgba(62, 207, 195, 0.87);
  border-radius: 2px;
  text-align: left;
  justify-content: center;
  box-shadow: 0 3px 6px rgb(231, 192, 192), 0 3px 6px #999;

  /* border: 3px solid #d7d7d7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  height: 170px;
  margin: 15px;
  overflow: hidden;
  width: 170px; */
}

.card>.img-container>img {
  width: 150px;
}

.card>.img-container {
  overflow: hidden;
  text-align: center;
  background: white;
  justify-content: center;
  margin: 5px;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  width: 150px;
  color: black;
  background-color: white;
  border-bottom: 2px solid rgba(0,0,0,.125);

}
