.Title {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  /* color: blue; */
}

.scoreSummary{
  width: 70%;
  text-align: center;
  color: blue;
  margin-bottom: 20px;
  /* color:white; */
}


.row {
  margin: 20px;
} 

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */



 /* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
